@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Karla', sans-serif;
}

:root {
    --bgcolor : #1C1C1C;
    --accentcolor: aquamarine;
}

body {
    background-image: url("https://i.pinimg.com/564x/6a/ec/83/6aec83b43cf53e1ffb0a9ac5462ec2de.jpg");
}

.link-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 40px auto;
    gap: 20px;
}
.link-tree img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
}
.link-tree imge{
    width: 30px;
    height: 30px;
    border-radius: 20%;
    align-items: center;
 }
.link-tree h1 {
    font-size: 2.5rem;
    color: #ffffff;
    border-color: yellow;
}

.link-tree a {

    color: #FFFFFF;
    width: 100%;
    padding: 3%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px #FFFFFF;
    transition: all 0.5s linear;
    border-radius: 30px;
    overflow: hidden;
}

.link-tree a:hover {
    background-color: var(--bgcolor);
    color: #FFFFFF;
}

@media (width: 10%) {
    .link-tree {
        width: 40vw;
    }
}